{% extends "kryptomain/worklayout.html" %}

	{% block content %}
		Zarządzanie kryptowalutami
	{% endblock content %}
 
	{% block content1 %}
		Kryptowaluty w serwisie
	{% endblock content1 %}

	{% block content2 %}
 
		<a class="text-center"><a class="fh5co-logo" href="{% url 'nowaKryptoWaluta' %}">Dodaj kryptowalute</a>
		
		<br>
		<br>
		<table  class="table" >
		
		<tr>
			<td>Nazwa kryptowaluty</td>
			<td>Skrót nazwy</td>
			<td>Informacje dodatkowe</td>
			<td>Edycja kryptowaluty </td>
			<td>Usunięcie kryptowaluty</td>
		</tr>
		
		{% for walutZ in walutaZm %}
		<tr>
		<td>{{walutZ.nazwa_kryptowaluty}}</td>
		<td>{{walutZ.kod_kryptowaluty}}</td>
		<td>{{walutZ.informacje_dodatkowe}}</td>
		<td><a href="{% url 'edytujKryptowaluta' walutZ.id %}" >Edytuj kryptowalute</a></td>
		<td><a href="{% url 'usunKryptowaluta' walutZ.id %}" >Usuń kryptowalute</a></td>
		</tr>
		{%endfor%}
		</table>
		
		
			
	{% endblock content2 %}